<!DOCTYPE html>
<html lang="es-pe">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*//https://favicon.io/favicon-converter/   48x48 .ico*@
    <link rel="shortcut icon" type="image/png" href="~/images/sistema/favicon.ico" />





  






    <title>
        @ViewBag.Title | @if (Session["webNameSoft"] != null)
        {
            @Session["webNameSoft"]
        }
    </title>
    <!-- styles -->
    @Styles.Render("~/Content/css")

    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")

    <script>
        var idUsuar = @Session["intIdUsuarioSesion"]
        var idSoftw = @Session["intIdSoftSesion"]
        var intIdSe = @Session["intIdSesionSesion"]
        window.SISCOP = {
            "session": @if (Session["jsonUserInfoSesion"] != null) { @Html.Raw(Json.Encode(@Session["jsonUserInfoSesion"]))  }else{ <text>{}</text> },
            "name": "Siscop",
            "foto": "@Session["imgfoto"]",
            "url": "@Request.Url.AbsoluteUri",
            "isAuthenticated": @if (Session["isAuthenticated"] != null){ @Session["isAuthenticated"] }else{ <text>false</text> },
            "profile": @if (Session["jsonPerfilMenu"] != null) { @Html.Raw(Json.Encode(@Session["jsonPerfilMenu"]))  }else{ <text>[]</text> },
            "csrf": "",
            "version": "",
            "intIdPersonal": "@Session["intIdPersonal"]"
        }
    </script>

</head>

<body id="body_tc" class="nav-md">
    <div id="app" style="width:100%;">

        <div class="container11111 body">
            <div class="main_container">

                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu"
                     style="position:absolute;background-color:#1a8873; z-index:9999;
                     left:15px; top:45px; border-radius:8px;" hidden>
                    @*<div class="navbar nav_title" style="border: 0; background-color:yellow;">
                <a href="/Inicio/PaginaPrincipal" class="site_title">
                    <img src="@System.Configuration.ConfigurationManager.AppSettings["rutaImages"]logo_layout.png" alt="Logo" />
                </a>
            </div>*@

                    @*COLOR PRUEBA*@
                    <div class="menu_section" style=" font-size:19px;">
                        <ul class="nav side-menu">
                            <!-- *************************************************************
                                  MENUS LATERALES PARA MINIASOFT
                **************************************************************-->
                        </ul>
                    </div>

                </div>

                <style>

                    #sidebar-menu {
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
                    }
                </style>


                <div class="col-md-3 left_col" id="col-md-3_tc" style="background-color:peru; display:none">
                    @*style="display:none"*@
                    <div class="left_col scroll-view" style="background-color:violet;">
                        <!--  ***IRA EN HIDDEN HGM*** -->
                        <div class="navbar nav_title" style="border: 0; background-color:yellow;  display:none">
                            <a href="/Inicio/PaginaPrincipal" class="site_title">
                                <img src="@System.Configuration.ConfigurationManager.AppSettings["rutaImages"]logo_layout.png" alt="Logo" />
                            </a>
                        </div>
                        <div class="clearfix"></div>

                        <!-- menu profile quick info ***IRA EN HIDDEN HGM*** -->
                        <div class="profile clearfix" style="background-color:greenyellow;  display:none">
                            @*COLOR PRUEBA*@
                            <div class="profile_pic">
                                <img src="@System.Configuration.ConfigurationManager.AppSettings["rutaFotoEmpleado"]@if (Session["imgfoto"] != null)
                            {
                                    @Session["imgfoto"]
                            } else {
                                @Session["imgfotoDefault"]
                            }" alt="" class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Bienvenido Usuario</span>
                                <h2>
                                    @if (Session["strUserNameSesion"] != null)
                                    {
                                        <strong> @Session["strUserNameSesion"]</strong>
                                    }
                                </h2>
                            </div>
                        </div>
                        <!-- /menu profile quick info -->
                        <br />

                        <!-- sidebar menu -->
                        <div id="sidebar-menu111" class="main_menu_side11 hidden-print111 main_menu111" style="background-color:darkgreen; z-index:9999;">
                            @*COLOR PRUEBA*@
                            <div class="menu_section111">
                                <ul class="nav111 side-menu111">
                                    <!-- *************************************************************
                                               MENUS LATERALES
                             **************************************************************-->
                                </ul>
                            </div>
                        </div>
                        <!-- /sidebar menu -->
                        <!-- /menu footer buttons -->
                        <div class="sidebar-footer hidden-small">
                            <h4 style="text-align:center;">
                                @if (Session["webVersionSesion"] != null)
                                {
                                    @Session["webVersionSesion"]
                                }
                            </h4>
                        </div>
                        <!-- /menu footer buttons -->

                    </div>
                </div>
               
                <!-- top navigation -->
                <div id="top_nav_tc1" class="top_nav1" style="width:100%;">
                    @*AÑADIDO PARA MINIASOFT*@
                    @*<div id="top_nav_tc" class="top_nav"> COMENTADO PARA MINIASOFT*@

                    <div class="nav_menu">
                        <nav>
                            @*<div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>*@


                            <div class="toggle" id="iconomenu" @*style=" display: flex; flex-wrap: nowrap;"*@>
                                <a><i class="fa fa-bars"></i></a>      @*<h2 style=" flex-wrap: nowrap;" >MENU ACTUAL</h2>*@
                            </div>

                            <!-- -->
                            <div class="navbar-left" style="text-align:center; margin-left:-1%; ">
                                @*margin-left:40%;*@

                                <div class="breadcrumb d-flex breadcrumb__step breadcrumb__step--active"
                                     style="margin-bottom: 0px; border-radius:8px;
                                            text-align:center; padding-left: 31px;
                                            margin-top: 8px;  background-color:#4b5f71;
                                            border:none;">
                                    @*#42A5F5*@

                                    <a href="#" id="PadreMenu_txt"
                                       class="breadcrumb__step breadcrumb__step--active"
                                       style="padding: 0 89px 0 60px;
                                              font-size:16px;
                                              margin-left:-34px;">SEGURIDAD</a>

                                    <h4 style="text-align:center;
                                               float:right;
                                               margin-bottom:10px;
                                               margin-top:10px;
                                               margin-left:88px;
                                               font-weight: 900;
                                               font-size:16px;
                                               /*background-color:#e6e6e6;*/
                                               color: #dedddd ;"
                                        id="fx_13_02_22_menu_actual"></h4> @*#1160ee rgba(0, 0, 0, 0.5)    #e6e6e6;  #7e7e7e*@

                                    </div>
                                </div>

                                <ul class="nav navbar-nav navbar-right">
                                    <li class="">
                                        <a href="javascript:;" style="font-size:18px;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

                                            <img src="@System.Configuration.ConfigurationManager.AppSettings["rutaFotoEmpleado"]@if (Session["imgfoto"] != null)
                                    {
                                            @Session["imgfoto"]
                                    } else {
                                        @Session["imgfotoDefault"]
                                    }" alt="">
                                            @if (Session["strNombreUsuarioSesion"] != null)
                                            {
                                                @Session["strNombreUsuarioSesion"]

                                                <span id="vl_strNombreUsuarioSesion" hidden>@Session["strNombreUsuarioSesion"]</span>
                                            }
                                            <span class=" fa fa-angle-down"></span>
                                        </a>





                                        <ul class="dropdown-menu dropdown-usermenu pull-right"  id="ulfx">
                                            <li >
                                                <a href="javascript:;" id="btnContra">
                                                    @*Cambiar Contraseña*@
                                                    @*&nbsp; <img src="~/images/sistema/pv_cambiar_pass_0.png" width="50px" style="border-radius: 50px; box-shadow: 2px 2px 5px 1px rgba(17, 35,20, 0.7);" />*@
                                                    &nbsp; <img src="~/images/sistema/pv_cambiar_pass_0.png"  width="50px" style="border-radius: 50px; box-shadow: 2px 2px 5px 1px rgba(17, 35,20, 0.7);" />

                                                    <!-- 		<h2 class="headingOuter">3d Power button toggles</h2> -->
                                                
                                                </a>
                                            </li>

                                            <li >
                                                <a href="/LoginSiscop/CerrarSesion" @*id="CerrarSesion_" *@>
                                                    @*<img src="~/images/sistema/pv_switch_close.jpg" width="100px" />*@
                                                   @* &nbsp; <img src="~/images/sistema/pv_exit_icon.png" width="50px" style="border-radius: 50px; box-shadow: 2px 2px 5px 1px rgba(17, 35,20, 0.7);" />*@
                                                    <div class="toggle_switch toggle--push">
                                                       
                                                        <input type="checkbox" @*id="toggle--push"*@ class="toggle--checkbox" @*href="/LoginSiscop/CerrarSesion"*@ id="CerrarSesion_" >
                                                        <label class="toggle--btn" for="toggle--push" data-label-on="on" data-label-off="off"></label>
                                                    </div>
                                                    @*<i class="fa fa-sign-out pull-right">
        </i> Cerrar Sesión*@
                                                </a>
                                            </li>
                                        </ul>
                                        <style>



                                            #ulfx {
                                                border: none;
                                                background-color: transparent;
                                                width: 50px;
                                            }

                                                #ulfx > li {
                                                    /*background-color: greenyellow;*/
                                                    border: none;
                                                      width: 50px;
                                                }

                                                    #ulfx > li > a {
                                                        width: 60px;
                                                        margin-left: 80px;
                                                        padding: 8px 0px;
                                                    }

                                                        #ulfx > li > a:hover {
                                                            background-color: transparent;
                                                            transform: scale(1.14);
                                                            transition: 0.2s;
                                                        }
                                                     /*#CerrarSesion_:hover, #btnContra:hover {
                                                background-color: red;                                                
                                                transform: scale(1.08);
                                                width: 60px;
                                            }*/


                                        </style>

                                        @*<ul>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Coca Cola</li>
        </ul>*@


                                        @*<div class="toggle_switch toggle--push" style="position:fixed; z-index:60000; top:-50px; right:-1px" hidden>
            <input type="checkbox" id="toggle--push" class="toggle--checkbox" > mmmmmm
            <label class="toggle--btn" for="toggle--push" data-label-on="on" data-label-off="off"> </label>
        </div>*@


                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- page content -->
                    <div class="right_col" role="main" background-color: red; padding-top:25px;">
                        @*COLORPRUEBA red      #e9e9e9---> COLOR GRIS   style="min-height:100vh;
                <div class="" style="min-height:100vh;  background-color:transparent;" id="contenedor-render-body">@*COLORPRUEBA*@
                        @RenderBody()
                    </div>
                </div>
            <!-- /page content -->
            <!-- footer content -->
            @*<footer style="width:100%; background-color:yellowgreen;" >*@ @*COLORPRUEBA COMENTADO PARA MINIASOFT*@
            <div class="pull-right11" style=" text-align:center;">
                <br /> PetshopWeb 2021 @*MINIASOFT - 2021*@
                <p>Desarrollado 🎙 por <a href="https://twitter.com/philnash">Hebert</a></p>
                <p hidden>Developed 🎙 by <a href="https://twitter.com/philnash">Hebert</a></p>

            </div>
            <div class="clearfix"></div>
            @*</footer>*@
            <!-- /footer content -->

        </div>
    </div>







    @*</div>*@
    <div class="modal fade bs-example-modal-lg" id="modalContra" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="x_title" style="border-bottom: none; padding: 0; margin-bottom: 0;">
                        <h2>Cambiar Contraseña</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <input type="button" id="btn-save-change-contra" class="btn btn-primary" value="Guardar">
                            </li>
                            <li>
                                <input type="button" id="btn-cancel-contra" class="btn btn-dark" value="Cancelar">
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="modal-body mb-4 pb-4 min-height-350">
                    <div class="x_content">
                        <form action="/LoginSiscop/CambiarClave" class="mt-3" method="post" id="claveForm">
                            @Html.AntiForgeryToken()
                            <div class="form-group  text-left p-relativee">
                                <label>Contraseña Actual</label>
                                <div class="input-group" style="display:flex">
                                    <input type="password" id="ps_edit_uno" class="form-control" maxlength="50" required autocomplete="current-password" placeholder="Contraseña Actual" name="contraseña" onkeypress="return avoidSpaceInput(event)">
                                    <button id="buttomshowpassedit1" onclick="mostrarClaveEdit1(this)" type="button" class="buttom-show"><i class="fa fa-eye"></i></button>
                                </div>
                            </div>
                            <div class="form-group  text-left p-relative">
                                <label>Nueva Contraseña</label>
                                <div class="input-group" style="display:flex">
                                    <input type="password" id="ps_edit_dos" validationpass="false" class="form-control" maxlength="50" required autocomplete="current-password" placeholder="Nueva Contraseña" name="nuevacontraseña" onkeypress="return avoidSpaceInput(event)">
                                    <button id="buttomshowpassedit2" onclick="mostrarClaveEdit2(this)" type="button" class="buttom-show"><i class="fa fa-eye"></i></button>
                                </div>
                                <div id="contraneValidate" style="display:none;border: thin solid gray;padding: 1%;">
                                    <h5>La contraseña debería cumplir con las siguientes políticas:</h5>
                                    <div>
                                        <span id="capital">Debe tener al menos <strong>una Mayúscula</strong><br /></span>
                                        <span id="letter">Debe tener al menos <strong>una Minúscula</strong><br /></span>
                                        <span id="number">Debe tener al menos <strong>un Número</strong><br /></span>
                                        <span id="especial">Debe tener al menos <strong>un Caracter Especial (@@ # $ % () * - _ / .)</strong><br /></span>
                                        <span id="length">Debe ser como mínimo <strong>8 dígitos</strong><br /></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group  text-left p-relativee">
                                <label>Confirmar Nueva Contraseña</label>
                                <div class="input-group" style="display:flex">
                                    <input type="password" id="ps_edit_tres" validationpass="false" class="form-control" maxlength="50" required autocomplete="current-password" placeholder="Confirmar Contraseña" name="contraseña" onkeypress="return avoidSpaceInput(event)">
                                    <button id="buttomshowpassedit3" onclick="mostrarClaveEdit3(this)" type="button" class="buttom-show"><i class="fa fa-eye"></i></button>
                                </div>
                                <div id="contraneValidate2" style="display:none;color: red;padding: 1%;">
                                    <div>
                                        <span id="igual">La contraseña no coincide</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/javascript")

    <script>
        var menu = ''
        SISCOP.profile.forEach(element => {

            menu += '<li id="' + element.strCoMenuRela + 'LI"  >' +
                '<a ><i  class="' + element.strNomFormu + '"></i> ' + element.strMenu + '<span class="fa fa-chevron-down"></span></a>' +

                '<ul  id="' + element.strCoMenuRela + 'UL"  class="nav child_menu">'

            element.menu.forEach(element2 => {
                menu += `<li><a  style=" font-size:17px;" id="${element2.strCoMenuRela}" class="submenuitem" href="${element2.strDesFormu + "?intIdMenu=" + element2.intIdMenu}"> ${element2.strSubMenu} </a></li>`
            })

            menu += '</ul>' +

                '</li>'

        })

        $('.side-menu').html(menu)

    </script>

    <script>
        document.querySelectorAll("li.clickmenugetid").forEach(el => {
            el.addEventListener("click", function (ev) {
                let menuId = this.getAttribute("submenuid")
                localStorage.setItem('idsubmenu', menuId)
            })
        })

            /*
            //HGM
            $('#CerrarSesion_').click(function () {
                alert('AAAA');

                $.post('/Personal/eliminarTodoExcelDeDirImportacionExcel',
                    { srtDirImportacionExcelP },
                    response => {
                        console.log(response)
                    });
            });
            */

    </script>

    @RenderSection("vue", required: false)
    <script src="~/Scripts/all.js" charset="utf-8"></script>   @*//Revisado el 22.02.21 HG*@
    @RenderSection("scripts", required: false)
    <link href="~/Content/calendar/fullcalendar.print.css" rel="stylesheet" />
    <link href="~/Content/calendar/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Scripts/jquery.autocomplete.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/jquery.autocomplete.js"></script>
    <link href="~/Content/dropzone.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/dropzone.js"></script>
    <link href="~/Content/bootstrap-colorpicker.min.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-colorpicker.min.js"></script>
    <link href="~/Content/normalize.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ion.rangeSlider.skinFlat.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/ion.rangeSlider.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/ion.rangeSlider.min.js"></script>
    <script src="~/Scripts/moment/moment-with-locales.js"></script>
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.easypiechart.min.js"></script>
    <script src="~/Scripts/util/Layout.js"></script>




    <link href="~/Content/Mantenimientos/CSS_botnswitch.css" rel="stylesheet" />
    <!-- Inspiration – https://dribbble.com/shots/712038-Button?list=searches&tag=toggle_buttons&offset=23 -->
    @*<div class="toggle toggle--push" style="position:absolute; z-index:60000;">
        <input type="checkbox" id="toggle--push" class="toggle--checkbox">
        <label class="toggle--btn" for="toggle--push" data-label-on="on" data-label-off="off"> </label>
    </div>*@


</body>
</html>
